modules = ["bash", "python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Spodown-App"

[[workflows.workflow]]
name = "Spodown-App"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash setup_spodown.sh"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "bash setup_spodown.sh"]

[[ports]]
localPort = 5000
externalPort = 80
